html {

    font-family: "Poppins", sans-serif;

}
body {
    margin: 0;
    background-color: #efefef;
    background-image: url(IMGS/FaMbacky.jpg);
    background-position: center;  /* posiciona la imagen en el centro */ 
    background-repeat: repeat;  /* impide que se repita la imagen */ 
    background-size: contain;  /* ajusta la imagen al tamaño del elemento */ 
}

header{
    background-color: darkcyan;
    color: white;
    padding: 2rem 1rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
}

.logo{
    transition: box-shadow 0.4s ease;
    border-radius: 50%; 
    float: top;
}
.logo:hover{
    box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 1);
    
}

.conteiner1 {
    width: 575px;
    margin: 0 auto;
}

.tarjeta{
    transition: box-shadow 0.4s ease;
    background-color: rgb(215, 142, 32);
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 0.50rem 0;
    color: rgb(0, 0, 0);
}

.tarjeta:hover{
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
}

section article h2, section article h3 {
    text-align: center;
    color: rgb(0, 0, 0);
}

section article p {
    margin: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
}

.Center{
    margin-left: auto;
    margin-right: auto;
}

div{
    text-align: center;
    overflow: hidden;
}

.banda {
    transition: all 0.4s ease;
    border-radius: 8%;
}

.foto1 {
    border-radius: 8%;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
    margin: 1rem 0;
}

.foto2 {
    transition: all 0.4s ease;
    border-radius: 8%;

    overflow: hidden;
}

.foto3 {
    transition: all 0.4s ease;
    border-radius: 8%;
}

.foto4 {
    transition: all 0.4s ease;
    border-radius: 8%;
}

.foto5 {
    transition: all 0.4s ease;
    border-radius: 8%;
}

.banda:hover {
    border-radius: 8%;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0.1);
}


.foto2:hover {
    border-radius: 8%;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
    /**transform: scale(1.2);**/
}

.foto3:hover {
    border-radius: 8%;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
}

.foto4:hover {
    border-radius: 8%;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
}

.foto5:hover {
    border-radius: 8%;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3);
}

footer {
    background-color:darkcyan;
    color: white;
    padding: 5rem 3rem;
}

.S1 {
    transition: box-shadow 0.4s ease;
    float: left;
}

.S2 {
    transition: box-shadow 0.4s ease;
    float: left;
}

.a2{
    size: 15px;
}

.a1{
    size: 15px;
}


footer p {
    text-align: center;
    font-size: 25px;
    margin: 0;
}

footer a{
    transition: color 0.3s;
    color: #fff;
    font-size: 15px;
   
}

.left1{
    float: right;
}

#center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer a:hover{
    color:blue;
}

html{
    scroll-behavior: smooth;
}
